html{
    background-image: url(zt.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
body{
    text-align: center;
}
input[type=submit]{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    padding: 15px 40px;
    border-radius: 13px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    outline: none;
}
input[type=submit]:hover{
  color: white;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
#mid{
    margin-top: 240px;
}
h1{
    color: white;
    font-size:  60px;
}
em{
    color: white;
    font-size:  40px;
}